/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* css variables */
:root {
  /* primary colors */
  --Very-Dark-Blue: hsl(243, 87%, 12%);
  --Desaturated-Blue: hsl(238, 22%, 44%);
  /* accent colors */
  --Bright-Blue: hsl(224, 93%, 58%);
  --Moderate0-Cyan: hsl(170, 45%, 43%);
  /* neutral colors */
  --Light-Grayish-Blue: hsl(240, 75%, 98%);
  --Light-Gray: hsl(0, 0%, 75%);
  /* body font */
  --body-font: "Open Sans";
  /* headings font */
  --headings-font: "Raleway";
}

/* reset css */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: var(--body-font);
  font-size: 16px;
}
h1,h2,h3,h4,h5,h6 {
  font-family: var(--headings-font);
}
/* reset css ends */

/* navbar starts */
.headerElement {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.navbar {
  display:flex;
  justify-content: space-between;
  gap:35px;
}
.navbarBtn {
  background-color: white;
  border: none;
  color: var(--Very-Dark-Blue);
  font-weight: 400;
}
/* navbar ends */

/* section 1 starts */
.section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 60px 100px 60px;
}
.firstPartSection1 {
  width: 45%;
}
.section1Image {
  width: 45%;
}
.Section1Heading {
  color: var(--Very-Dark-Blue);
  font-size: 32px;
  word-spacing: 2px;
  letter-spacing: 1px;
  line-height: 50px;
}
.Section1Para {
  margin-top: 15px;
  color: var(--Very-Dark-Blue)
}
.Section1InputBar {
  margin-top: 25px;
}
.Section1InputEle {
  width: 60%;
  height: 38px;
  padding-left: 15px;
  margin-right: 5%;
}
.Section1InputEle::placeholder {
  color: var(--Light-Gray);
}
.Section1Button {
  width: 35%;
  height: 38px;
  border: none;
  background-color: var(--Bright-Blue);
  border-radius: 3px;
  color: white;
}
/* section 1 ends */

/* section 2 starts */
.bgCurveDesktop {
  width: 100%;
}
.bgCurveMobile {
  display: none;
}
.section2 {
  background-color: #F8F8FE;
  margin-top: -5px;
  display: flex;
  padding:60px;
  justify-content: space-between;
  padding-bottom: 100px;
}
.firstPartSection2 {
  width: 45%;
}
.section2Image {
  width: 45%;
}
.section2Heading {
  color: var(--Very-Dark-Blue);
  font-size: 32px;
  word-spacing: 2px;
  letter-spacing: 1px;
  line-height: 50px;
  margin-bottom: 15px;
}
.section2Para , .section2Para2 {
  margin-top: 15px;
  color: var(--Very-Dark-Blue);
  line-height:24px
}
.section2Para2 {
  margin-bottom: 25px;
}
.section2Link {
  color: var(--Moderate0-Cyan);
  margin-right: 5px;
  text-decoration: none;
}
.section2LinkContainer {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--Moderate0-Cyan);
  width: 168px;
  padding-bottom: 5px;
}
.reviewBox {
  font-size: 13px;
  width: 60%;
  margin-top: 35px;
  background-color: white;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 4px rgba(179,186,186,1);
}
.reviewPara {
  margin-top: 8px;
  line-height: 24px;
  color: var(--Very-Dark-Blue);
}
.profile {
  display: flex;
  margin-top: 12px;
  align-items: center;
}
.profilePic {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.profileInfo {
  margin-left: 10px;
}
.userName {
  font-size: 14px;
  color: var(--Very-Dark-Blue);
}
.userRole {
  color: var(--Very-Dark-Blue);
  font-size: 10px;
}
/* section 2 ends */

/* section 3 starts */
.section3 {
  background-color: var(--Desaturated-Blue);
  padding: 90px 60px 90px 60px;
  display: flex;
  justify-content: space-between;
}
.section3FirstPart {
  width: 45%;
}
.section3SecondPart {
  width: 45%;
}
.section3Heading {
  color: var(--Light-Grayish-Blue);
  margin-bottom: 20px;
}
.section3Para {
  color: var(--Light-Grayish-Blue);

}
.section3Input {
  width: 80%;
  height: 38px;
  padding-left: 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 3px;
}
.section3Input::placeholder {
  color: var(--Light-Gray)
}
.section3Button {
  background-color: var(--Bright-Blue);
  border: none;
  border-radius: 3px;
  color: var(--Light-Grayish-Blue);
  width: 35%;
  height: 38px;
  box-shadow: 2px 2px 15px 2px rgb(56, 56, 56);;
}
/* section3 ends */

/* footer starts */
.footerElement {
  background-color: var(--Very-Dark-Blue);
  padding: 100px 60px 100px 60px;
}
.footerLogo {
  color: var(--Light-Gray)
}
.footerContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.column1, .column2, .column3{
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}
.column1Row1 {
  color: var(--Light-Grayish-Blue);
  display:flex;
  gap:15px;
}
.column1Row2{
  color: var(--Light-Grayish-Blue);
  display: flex;
  gap:15px;
}
.row{
  color: var(--Light-Grayish-Blue);
  background-color: var(--Very-Dark-Blue);
  border: none;
}
/* footer ends */

/* responsiveness */
@media screen and (max-width : 500px) {
  .headerElement {
    padding: 25px;
  }
  .headerLogo {
    width: 90px;
  }
  .navbar {
    gap: 20px;
  }
  .navbarBtn {
    font-size: 13px;
  }
  .section1 , .section2 {
    padding: 25px;
  }
  .section2 {
    padding-bottom: 100px;
  }
  .section3 {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media screen and (max-width: 900px) {
  .section1 {
    flex-direction: column-reverse;
  }
  .firstPartSection1 {
    width: 100%;
  }
  .Section1Heading , .Section1Para {
    text-align: center;
  }
  .Section1InputEle , .Section1Button {
    display: block;
    width: 100%;
    margin-bottom:20px
  }
  .section1Image {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
  }
  .section2 {
    flex-direction: column-reverse;
  }
  .section2Image {
    width:100%;
    
  }
  .firstPartSection2 {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .reviewBox {
    width: 85%;
  }
  .section3 {
    flex-direction: column;
    align-items: center;
  }
  .section3FirstPart {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .section3Para {
    text-align: center;
  }
  .section3SecondPart {
    width: 100%;
  }
  .section3Input , .section3Button {
    width:100%
  }
  .footerContainer {
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
  }
}
@media screen and (max-width: 375px) {
  .bgCurveDesktop {
    display: none;
  }
  .bgCurveMobile {
    display: block;
    width: 100%;
  }
}